@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}

.inline {
  display: inline;
}

.navlogo {
  width: 200px;
}

.accent-color {
  background-color: #009fc7;
}

.bg-accent {
  background-color: #009fc7;;
}

.text-accent {
  color: #009fc7
}

.home-section {
  height: 100vh;
}

.display-none {
  display: none;
}

.footer {  
  text-align: center;
  padding: 0.5em 0;
  padding-bottom: 0.5rem;  
}

.footer a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}

footer h3 {
  max-width: 80vw;
  margin: 0 auto;
}

.footer_link {
  margin-bottom: 2rem;
  color: #009fc7;

}

.footer_link:hover,
.social-list_link:hover {
  /* opacity: 0.9; */
  transform: scale(1.55);
  transition: transform 0.4s ease;
}

.footer_link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  outline: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list_item {
  margin: 0 0.5em;
  color: #009fc7;
}

.social_list_img {
  margin-inline: 12px;
  width: 52px;
  height: 52px;
}

.final {
  margin-top: 40px;
  font-size: 0.75rem;
  color: var(--clr-accent);
}

.heroTitle {
  
  width: 80vw;
  max-width: 1200px;
}

@media (max-width:400px) {
  .heroTitle{
    display: none;
  };
}



